<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv='' expires'' content='' -1”>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css/bootstrap.min.css")
	@Styles.Render("~/Content/css/jquery-ui.theme.min.css")
	@Styles.Render("~/Content/css/jquery-ui.min.css")
	@Styles.Render("~/Content/css/Site.css")
	<!-- @Styles.Render("~/Content/css/style.css") -->
</head>
<body>
	@Scripts.Render("~/Scripts/jquery-1.11.1.min.js")
	@Scripts.Render("~/Scripts/bootstrap.min.js")
	@Scripts.Render("~/Scripts/jquery-ui.min.js")
	@Scripts.Render("~/Scripts/Commons.js")
	@RenderSection("scripts", required: false)
	@RenderBody()
</body>
</html>
